<!-- Validation failure messages -->
<% if @month.errors.any? %>
  <% @month.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Month #<%= @month.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_month/<%= @month.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for started_on -->
      <div class="form-group">
        <label for="started_on" class="control-label">
          Meeting Date
        </label>

        <input type="text" id="started_on" name="started_on" placeholder="Started on" class="form-control" value="<%= @month.started_on %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          Hostess
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @month.user_id %>">
      </div>

    <!-- Label and input for book_id -->

   <div class="form-group">
    <label for="book_id" class="control-label">
      Winner
    </label>
    <div >
      <%= select_tag(:book_id, options_from_collection_for_select(Book.all, :id, :title), :class => "form-control") %>
    </div>




      <button class="btn btn-warning">
        Update Month
      </button>
      or
      <a href="/months/<%= @month.id %>">Cancel</a>
    </form>
  </div>
</div>
