<div class="page-header">
  <h1>
    Months
    <a href="/months/new" class="btn btn-lg btn-success">New Month</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Month</th>
        <th>Hostess</th>
        <th>Winner</th>
        <th>Actions</th>
      </tr>

      <% @months.each do |month| %>
      <tr>
        <td><%= month.started_on.strftime("%B %Y") %></td>
        <td><%= month.user.username %></td>

        <% if month.book_id.present? %>
        <td><a href="/books/<%= month.book_id %>"><%= month.book.try(:title) %></a></td>
  <%else%>
        <td><p>Voting in progress!</p></td>
        <%end%>
        <td>
          <a href="/months/<%= month.id %>" class="btn btn-primary">Show</a>
          <a href="/months/<%= month.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_month/<%= month.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
