<div class="page-header">
  <h3><%= @book.title %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Cover</dt>
      <dd><img src="<%= @book.cover_url%>" width="150"></dd>


      <dt>Title</dt>
      <dd><%= @book.title %></dd>

      <dt>Author</dt>
      <dd><%= @book.author %></dd>

      <dt>Description</dt>
      <dd><%= @book.description %></dd>

      <dt>Pages</dt>
      <dd><%= @book.page_number %></dd>


      <dt>Suggested By</dt>
      <dd><%= @book.user.username %></dd>
</dl>

    <div class="btn-group btn-group-justified">
      <a href="/books" class="btn btn-primary">
        Back
      </a>
      <a href="/books/<%= @book.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_book/<%= @book.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
<hr>
<div class="panel panel-info">
  <div class="panel-heading"><h3 class="panel-title">Comments</h3></div>
  <div class="panel-body">



<ul class="media-list">

          <% @book.comments.each do |comment| %>
          <li class="media">
            <div class="media-body">
              <p class="media-heading">
                <%= link_to comment.user.username, "/users/#{comment.user.id}" %>
                <small>
                  <%= time_ago_in_words(comment.created_at) %> ago
                  <% if comment.user == current_user %>
                    <a href="/delete_comment/<%= comment.id %>">
                      <i class="fa fa-trash"></i>
                    </a>
                  <% end %>
                </small>
              </p>
              <%= comment.body %>
            </div>
          </li>
          <% end %>

          <li class="media">
            <div class="media-body">
              <form action="/create_comment" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                <input type="hidden" name="book_id" value="<%= @book.id %>">

                <input type="hidden" name="user_id" value="<%= current_user.id %>">

                <!-- Label and input for body -->
                <div class="form-group">
                  <label for="body" class="sr-only">
                    Body
                  </label>

                  <input type="text" id="body" name="body" placeholder="Add a comment..." class="form-control" required>
                </div>
              </form>
            </div>
          </li>
        </ul>


      </div>
</div>